#visual studio related
*.filters
*.iobj
*.ipdb
*.ipch
*.obj
*.db
*.o
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.suo
*.log
*.pgn

#misc
*.tar
*.tar.gz
*.pyc
*.epd
*.pt

#directories
x64/*
log/*
packages/*
.vs/*
build/*
haVoc/*
.vscode/*
training/*.txt
training/runs/*
training/data/*
training/labels/*
